{% extends 'overall/layout' %}
{% block appBody %}
    <div class="container">
        <table class="table table-bordered">
            <thead>
{{thead}}
            </thead>
            <tbody>
{{tbody}}
            </tbody>
        </table>
    </div>
{% endblock %}