{% extends 'overall/layout' %}
{% block appBody %}
    <div id="main_app" class="panel panel-ocrend">
        <div class="panel-body">
           <h2>Bienvenido</h2>
            <p>Bienveido a su primer proyecto con <b>Ocrend Framework 2</b></p>
            <p>Para que su proyecto funcione correctamente deberá prestar atención a la configuración inicial en <b>ocrend.ini.yml</b></p>
            
            <ul>
                <li><a href="http://framework.ocrend.com" target="_blank">< Puede empezar leyendo la documentación oficial ></a></li>
                <li><a href="" target="_blank">< También puede empezar por la documentación oficial en vídeos ></a></li>
            </ul>

        </div>
    </div>
{% endblock %}