{% extends 'overall/layout' %}

{% block appHeader %}
<link rel="stylesheet" href="views/theme/global/vendor/dropify/dropify.css">
<link rel="stylesheet" href="views/theme/global/vendor/summernote/summernote.css">
<link rel="stylesheet" href="views/theme/global/vendor/select2/select2.css">
<link href="views/app/js/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
<link href="views/app/js/dropzone/basic.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block appBody %}
  <div class="page">
    <div class="page-header">
      <h1 class="page-title">Crear proyectos</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="proyectos/">proyectos</a></li>
        <li class="breadcrumb-item active">Crear</li>
      </ol>
    </div>
    <div class="page-content">
      <div class="panel nav-tabs-horizontal">
        <div class="panel-heading">
          <h3 class="panel-title">proyectos - Creación</h3>
        </div>
        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#exampleTopHome" aria-controls="exampleTopHome" role="tab" aria-expanded="true"><i class="icon wb-info-circle" aria-hidden="true"></i>Datos del proyecto</a>
          </li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exampleTopComponents" aria-controls="exampleTopComponents" role="tab"><i class="icon wb-gallery" aria-hidden="true"></i>Galería de imágenes</a></li>
        </ul>
        <div class="panel-body container-fluid">
          
          <div class="tab-content">
              <div class="tab-pane active" id="exampleTopHome" role="tabpanel">
                <div class="row row-lg">
                  <div class="col-md-12">
                    <div class="example-wrap">
                      <div class="example">
                        <form autocomplete="off" id="proyectos_form" enctype="multipart/form-data">
                          <div class="row justify-content-md-center">                      
                            
                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="form-control-label" for="id_titulo">Título del proyecto <span class="required">*</span></label>
                                <input class="form-control" type="text" name="titulo" id="id_titulo" value="" placeholder="Título del proyecto" />
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="form-control-label" for="id_categoria"> Categoría <span class="required">*</span></label>
                                <select class="form-control" id="id_categoria" name="id_categoria[]" multiple data-plugin="select2" data-placeholder="Selecciona una categoría">
                                  <optgroup label="Seleccionar categoría">
                                    {% for i,c in categorias if 0 != categorias|length %}
                                    <option value="{{ i }}">{{ c }}</option>
                                    {% endfor %}
                                    
                                  </optgroup>
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="form-control-label" for="id_short_desc_es">Descripción corta - español <span class="required">*</span></label>
                                <input class="form-control" type="text" name="short_desc_es" id="id_short_desc_es" value="" placeholder="Descripción corta en español" />
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="form-control-label" for="id_short_desc_en">Descripción corta - ingles <span class="required">*</span></label>
                                <input class="form-control" type="text" name="short_desc_en" id="id_short_desc_en" value="" placeholder="Descripción corta en ingles" />
                            </div>

                            

                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="form-control-label" for="id_content_es">Contenido en español <span class="required">*</span></label>
                                <div class="summernote" data-plugin="summernote"></div>
                                <input type="hidden" name="content_es" id="id_content_es" value="">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="form-control-label" for="id_content_en">Contenido en ingles <span class="required">*</span></label>
                                <div class="summernote" data-plugin="summernote"></div>
                                <input type="hidden" name="content_en" id="id_content_en" value="">
                            </div>



                            <div class="form-group col-xs-12 col-sm-12 col-md-4">
                                <div class="example-wrap">
                                  <h4 class="example-title text-center">Imágen de Portada <span class="required">*</span></h4>
                                  <div class="example">
                                    <input type="file" name="portada" accept="image/*" id="portada" data-height="200" data-plugin="dropify" />
                                  </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-4">
                                <div class="example-wrap">
                                  <h4 class="example-title text-center">Logo de proyecto <span class="required">*</span></h4>
                                  <div class="example">
                                    <input type="file" name="logo_proyecto" id="logo_proyecto" accept="image/*" data-height="200" data-plugin="dropify" />
                                  </div>
                                </div>
                            </div>

                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="exampleTopComponents" role="tabpanel">
                {% include 'overall/uploader' with {'tmp': tmp} only %}
               
              </div>
            </div>

            <div class="form-group">
                <button type="button" id="proyectos" class="btn btn-primary">Crear</button>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block appFooter %}
<script src="views/theme/global/vendor/summernote/summernote.min.js"></script>
<script src="views/theme/global/js/Plugin/summernote.js"></script>
<script src="views/theme/assets/examples/js/forms/editor-summernote.js"></script>
<script src="views/theme/global/vendor/dropify/dropify.js"></script>
<script src="views/theme/global/js/Plugin/dropify.js"></script>
<script src="views/theme/global/vendor/select2/select2.full.min.js"></script>
<script src="views/app/js/dropzone/dropzone.js" type="text/javascript"></script>
<script src="views/app/js/file_delete.js"></script>
<script src="views/app/js/proyectos/crear.js"></script>  
{% endblock %}