{% extends 'overall/layout' %}

{% block appBody %}
<div class="page">
    <div class="page-content">
        <h2>Página en blanco</h2>
        <p>Contenido de la página...</p>
    </div>
</div>
{% endblock %}