{% extends 'overall/layout' %}
{% block appBody %}
    <div id="main_app" class="panel panel-ocrend">
        <div class="panel-body">
           <h2>ERROR 404</h2>
           <p>Controlador no encontrado.</p>            
        </div>
    </div>
{% endblock %}