{% extends 'overall/layout' %}
{% block appHeader %}<link rel="stylesheet" href="views/theme/global/vendor/dropify/dropify.css">{% endblock %}
{% block appBody %}
  <div class="page">
    <div class="page-header">
      <h1 class="page-title">Crear administrador</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="admins/">Admins</a></li>
        <li class="breadcrumb-item active">Crear</li>
      </ol>
    </div>
    <div class="page-content">
      <div class="panel">
        <div class="panel-body container-fluid">
          <div class="row row-lg">
            <div class="col-md-12">
              <div class="example-wrap">
                <h4 class="example-title">Administradores - Creación</h4>
                <div class="example">
                  <form autocomplete="off" id="admins_form" enctype="multipart/form-data">

                  	<input type="hidden" name="id" id="id_user" value="{{data.id_user}}">

                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="id_email">Email <span class="required">*</span></label>
                          <input type="email" id="id_email" class="form-control" name="email" value="{{data.email}}" placeholder="email@demo.com" autocomplete="off">
                        </div>

                        <div class="form-group">
                          <label class="form-control-label" for="id_pass">Cambiar Contraseña <span class="required">*</span></label>
                          <input type="password" id="id_pass" class="form-control" name="pass" placeholder="Contraseña" autocomplete="off">
                        </div>

                        <div class="form-group">
                          <label class="form-control-label" for="id_pass_repeat">Repetir Contraseña <span class="required">*</span></label>
                          <input type="password" id="id_pass_repeat" class="form-control" name="pass_repeat" placeholder="Repetir Contraseña" autocomplete="off">
                        </div>

                      </div>
                      <div class="col-xs-12 col-md-6">
                        <div class="example-wrap">
                          <h4 class="example-title">Imágen de Perfil</h4>
                          <div class="example">
                            <input type="file" name="perfil" id="input-file-now-custom-1" data-default-file="{{avatar}}" data-height="125" data-plugin="dropify" />
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="form-control-label" for="id_name">Nombre <span class="required">*</span></label>
                          <input type="text" class="form-control" id="id_name" name="name" value="{{data.name}}" placeholder="Nombre del administrador" autocomplete="off">
                        </div>


                      </div>
                    </div>
                    <div class="form-group">
                      <button type="button" id="admins" class="btn btn-primary">Crear</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block appFooter %}
<script src="views/theme/global/vendor/dropify/dropify.js"></script>
<script src="views/theme/global/js/Plugin/dropify.js"></script>
<script src="views/app/js/admins/editar.js"></script>  
{% endblock %}